/* Container holding the form */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Form title */
.form-container h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

/* Input fields */
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Label styling */
form label {
  display: block;
  margin-bottom: 15px;
}

/* Password input container */
.password-input-container {
  position: relative;
}

/* Password toggle icon */
.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Submit button */
#submitcomplete {
  background-color: #00008b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitcomplete:hover {
  background-color: #0056b3;
}
